<h2>Menu</h2>

<k-button-row justify="start">
    <k-button type="solid-primary">
        <span>Hover me</span>
        <k-menu label="Menu #1">
            <k-menu-option>Item 1</k-menu-option>
            <k-menu-option>Item 2</k-menu-option>
            <k-menu-option>Item 3</k-menu-option>
        </k-menu>
    </k-button>
    <k-button type="solid-primary">
        <span>Hover me</span>
        <k-menu label="Menu #2">
            <k-menu-option>Item 1</k-menu-option>
            <k-menu-option>Item 2</k-menu-option>
            <k-menu-option>Item 3</k-menu-option>
        </k-menu>
    </k-button>
</k-button-row>
