<h2>Wizard</h2>

<h3>Horizontal Wizard</h3>
<k-wizard direction="horizontal">
    <k-wizard-step label="Step 1">
        <p>Step 1 Content</p>
    </k-wizard-step>
    <k-wizard-step label="Step 2">
        <p>Step 2 Content</p>
    </k-wizard-step>
</k-wizard>

<h3>Vertical Wizard</h3>
<k-wizard direction="vertical">
    <k-wizard-step label="Step 1">
        <p>Step 1 Content</p>
    </k-wizard-step>
    <k-wizard-step label="Step 2">
        <p>Step 2 Content</p>
    </k-wizard-step>
</k-wizard>
