<h1>Kompakkt Komponents - Test Page</h1>

<div class="example">
    <example-buttons />
</div>

<div class="code">
    <pre><code class="language-html">{{ examples.buttons }}</code></pre>
</div>

<hr />

<div class="example">
    <example-input-elements />
</div>
<div class="code">
    <pre><code class="language-html">{{ examples.inputElements }}</code></pre>
</div>

<hr />

<div class="example">
    <example-autocomplete />
</div>
<div class="code">
    <pre><code class="language-html">{{ examples.autocomplete }}</code></pre>
</div>

<hr />

<div class="example">
    <example-menu />
</div>
<div class="code">
    <pre><code class="language-html">{{ examples.menu }}</code></pre>
</div>

<hr />

<div class="example">
    <example-tooltip />
</div>
<div class="code">
    <pre><code class="language-html">{{ examples.tooltip }}</code></pre>
</div>

<hr />

<div class="example">
    <example-details />
</div>
<div class="code">
    <pre><code class="language-html">{{ examples.details }}</code></pre>
</div>

<hr />

<div class="example">
    <example-wizard />
</div>
<div class="code">
    <pre><code class="language-html">{{ examples.wizard }}</code></pre>
</div>
