<h2>Buttons and Button Row</h2>

<k-button-row justify="space-between">
  <k-button full-width style="solid" color="primary"> Full-Width Solid Primary Button </k-button>
  <k-button full-width style="solid" color="secondary"> Full-Width Solid Secondary Button </k-button>
</k-button-row>

<k-button-row justify="space-between">
  <k-button style="outlined" color="primary">Outlined Primary Button</k-button>
  <k-button style="outlined" color="secondary">Outlined Secondary Button</k-button>
</k-button-row>

<h3>Disabled</h3>

<k-button-row justify="space-between">
  <k-button style="solid" color="primary" disabled>Solid Primary (disabled)</k-button>
  <k-button style="solid" color="secondary" disabled>Solid Secondary (disabled)</k-button>
</k-button-row>

<k-button-row justify="space-between">
  <k-button style="outlined" color="primary" disabled>Outlined Primary (disabled)</k-button>
  <k-button style="outlined" color="secondary" disabled>Outlined Secondary (disabled)</k-button>
</k-button-row>
