<h2>Buttons and Button Row</h2>

<k-button-row justify="space-between">
  <k-button full-width type="solid-primary"> Full-Width Solid Primary Button </k-button>
  <k-button full-width type="solid-secondary"> Full-Width Solid Secondary Button </k-button>
</k-button-row>

<k-button-row justify="space-between">
  <k-button type="outlined-primary">Outlined Primary Button</k-button>
  <k-button type="outlined-secondary">Outlined Secondary Button</k-button>
</k-button-row>

<h3>Disabled</h3>

<k-button-row justify="space-between">
  <k-button type="solid-primary" disabled>Solid Primary (disabled)</k-button>
  <k-button type="solid-secondary" disabled>Solid Secondary (disabled)</k-button>
</k-button-row>

<k-button-row justify="space-between">
  <k-button type="outlined-primary" disabled>Outlined Primary (disabled)</k-button>
  <k-button type="outlined-secondary" disabled>Outlined Secondary (disabled)</k-button>
</k-button-row>
