<h2>Buttons and Button Row</h2>

<k-button-row justify="space-between">
    <k-button full-width type="solid-primary">
        Full-Width Solid Primary Button
    </k-button>
    <k-button full-width type="solid-secondary">
        Full-Width Solid Secondary Button
    </k-button>
</k-button-row>

<k-button-row justify="space-between">
    <k-button type="outlined-primary">Outlined Primary Button</k-button>
    <k-button type="outlined-secondary">Outlined Secondary Button</k-button>
</k-button-row>
