<h2>Input elements</h2>

<k-input label="Text input" type="text" placeholder="Placeholder text" />

<k-input
    label="Number input"
    type="number"
    [min]="0"
    [max]="100"
    startingValue="50"
/>

<k-input
    label="Number with prefix and suffix"
    type="number"
    prefix="Amount"
    suffix="USD"
/>

<k-textarea label="Textarea" placeholder="Placeholder text" />

<k-slider label="Slider" />

<k-slide-toggle label="Slide Toggle" />

<k-labelled-checkbox label="Labelled Checkbox" />
